<!-- <mat-card-content class="fans-content">
        
</mat-card-content> -->

<div class="image-section">
        <img src="assets/images/cover_picture.png" alt="Cover Picture" height="250" width="100%">
</div>
<mat-card-actions>
        <div class="signin-button-align">
                <h4>Don't miss your Fans</h4>
                <!-- Facebook -->
                <a [routerLink]="['/signup']" title="Share on Facebook" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--facebook">
                        Sign Up With Facebook
                        <i class="fa fa-facebook fa-fw"></i>
                </a>

        </div>
</mat-card-actions>