# Logs
logs
*.log
npm-debug.log*

#IDE
.vscode

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Dependency directories
.node_modules
.jspm_packages

# Optional npm cache directory
.npm