@media (min-width: 599px){
    .mat-card {
        margin: 134px;
    }
}
@media (max-width: 599px){
    .mat-card {
    padding: 24px 16px;
    margin: 10px;
}
}

.image-section{
    margin-bottom: 1%;
}

.header-text {
text-align:center;
background-color: #d3d3d333;
height: 45px
}

.mat-card {
    border-radius: 17px;
}
.fans-content{
  text-align:center;
  margin-top: 2%;
}

.mat-card-title {
    padding-top: 12px;
}