.campaign-button{
  background-color: #26d0c8c7 !important;
  color: white !important;
  font-weight: bold;
  float: right;
  margin: 4px;
  width: 213px;
}

.fans-list, .chat-box{
  margin: 8px;
  height: 100%;
}
.chat-box{
  display:block;
  overflow:auto;
  }
.chat-section{
  height: 100%;
}

.card-container {
  max-height: 430px;
  min-height: 400px;
  height: 430px;
}