
<!--
        <form [formGroup]="newCampaignMessageDetails">
              <mat-grid-list cols="1" rowHeight="370px" id="new-campaign-message-width">
                  <mat-grid-tile>
                      <mat-form-field class="new-message-body">
                          <textarea matInput placeholder="Message" [(ngModel)]="yourmessage" value="{{yourmessage}}" formControlName="yourmessage">

                                You'll be reaching

                          </textarea>
                        </mat-form-field>
                  </mat-grid-tile>
              </mat-grid-list>



        </form>

      -->

      You'll be reaching 1,567 super fans located in A,B,C who are male/female between ages 18 to 35 who have fab score of between 'min' and 'max'.




