@media(max-width: 599px) {
    .mat-card {
        padding: 10px 16px;
    }
    .fansView {
        height: 240px !important;
    }
    .chat-box {
        height: 250px !important;
    }
    .text-display {
        height: 190px !important;
        padding-right: 15px;
    }
}

.mat-card {
    padding: 10px 16px;
}

.campaign-button {
    background-color: #26d0c8c7 !important;
    color: white !important;
    font-weight: bold;
    float: right;
    margin: 4px;
    width: 213px;
}

.fans-list {
    margin: 8px;
    height: 100%;
}

.chat-box {
    display: block;
    overflow: auto;
    padding-right: 0;
    margin: 8px;
    height: 100%;
}

.chat-section {
    height: 100%;
    margin-top: 10px;
}

.card-container {
    max-height: 445px !important;
    min-height: 435px;
}


/*message section*/

.message-form,
.message-input-width,
.full-width {
    width: 100%;
}

.send-button {
    background-color: #26d0c8c7 !important;
    color: white !important;
    font-weight: bold;
    float: right;
    margin: 10px;
    bottom: 0;
}

@media (min-width: 1278px) {
    .message-form {
        position: absolute;
        bottom: 20px;
        width: 95%;
    }
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.new-message-body {
    width: 100%;
}

#text-body-width .mat-input-element {
    height: 150px;
}

#new-campaign-message-width .mat-input-element {
    height: 320px;
}

.ok-button {
    background-color: #26d0c8c7 !important;
    color: white !important;
    font-weight: bold;
}

#listview-fans .mat-card-title,
#listview-fans .mat-card-subtitle {
    margin-bottom: 6px;
}

#listview-fans {
    padding: 12px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px #888 !important;
}

#listview-fans .mat-card-header-text {
    margin-left: 21px;
}

.fansView {
    overflow-y: auto;
}

.chat-card {
    box-shadow: 1px 1px 10px #888 !important;
    min-width: 230px;
    border-radius: 7px;
}

.text-display {
    overflow-y: auto;
    height: 374px;
}

.single-text {
    margin: 3px;
}

.right-align {
    float: right;
    margin-bottom: 10px;
}

.msg-sendername {
    font-weight: bold;
    color: #282844cf;
}

.msgtext-align-send {
    text-align: end;
}

.date-time-send {
    float: left;
    padding-top: 14%;
    color: #4646388a;
}

.date-time-receive {
    float: right;
    padding-top: 14%;
    color: #4646388a;
}

.wrapword {
    white-space: -moz-pre-wrap !important;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    white-space: pre-wrap;
    /* css-3 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap;
    /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}

.fanlist-time {
    color: #4646388a;
}